In [2]:
# Cleaning Pricing Data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data xlsx
data = pd.read_excel('harga.xlsx')

# Check the data
data.head()

,No,Komoditas (Rp),20/ 10/ 2021,21/ 10/ 2021,22/ 10/ 2021,25/ 10/ 2021,26/ 10/ 2021,27/ 10/ 2021,28/ 10/ 2021,29/ 10/ 2021,...,11/ 04/ 2024,12/ 04/ 2024,15/ 04/ 2024,16/ 04/ 2024,17/ 04/ 2024,18/ 04/ 2024,19/ 04/ 2024,22/ 04/ 2024,23/ 04/ 2024,24/ 04/ 2024
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

In [3]:
# Check the data type
data.dtypes

No                object
Komoditas (Rp)    object
20/ 10/ 2021      object
21/ 10/ 2021      object
22/ 10/ 2021      object
                   ...
18/ 04/ 2024      object
19/ 04/ 2024      object
22/ 04/ 2024      object
23/ 04/ 2024      object
24/ 04/ 2024      object
Length: 657, dtype: object

In [4]:
# Check missing values and drop it
data.isnull().sum()

# Drop missing values
data = data.dropna()

# Check the data
data.isnull().sum()

# Check the data
data.head()

,No,Komoditas (Rp),20/ 10/ 2021,21/ 10/ 2021,22/ 10/ 2021,25/ 10/ 2021,26/ 10/ 2021,27/ 10/ 2021,28/ 10/ 2021,29/ 10/ 2021,...,11/ 04/ 2024,12/ 04/ 2024,15/ 04/ 2024,16/ 04/ 2024,17/ 04/ 2024,18/ 04/ 2024,19/ 04/ 2024,22/ 04/ 2024,23/ 04/ 2024,24/ 04/ 2024
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

In [5]:
date_columns = data.columns[2:]

for col in date_columns:
    try:
        # Format the date as you need
        new_col = pd.to_datetime(col, format='%d/ %m/ %Y').strftime('%Y-%m-%d')
        data.rename(columns={col: new_col}, inplace=True)
    except ValueError:
        print(f"Column {col} can't be converted to a date.")

# Print the new column names
print(data.columns)

Index(['No', 'Komoditas (Rp)', '2021-10-20', '2021-10-21', '2021-10-22',
       '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-29',
       ...
       '2024-04-11', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-17',
       '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24'],
      dtype='object', length=657)

In [6]:
# Check all columns where there are "-" values
for col in data.columns:
    if data[col].dtype == 'O':
        print(f"Column {col} has {len(data[data[col] == '-'])} missing values.")
        
# Replace "-" with np.nan
data = data.replace('-', np.nan)

# Check the data
data.head()

Column No has 0 missing values.
Column Komoditas (Rp) has 0 missing values.
Column 2021-10-20 has 0 missing values.
Column 2021-10-21 has 0 missing values.
Column 2021-10-22 has 0 missing values.
Column 2021-10-25 has 0 missing values.
Column 2021-10-26 has 0 missing values.
Column 2021-10-27 has 0 missing values.
Column 2021-10-28 has 0 missing values.
Column 2021-10-29 has 0 missing values.
Column 2021-11-01 has 0 missing values.
Column 2021-11-02 has 0 missing values.
Column 2021-11-03 has 0 missing values.
Column 2021-11-04 has 0 missing values.
Column 2021-11-05 has 0 missing values.
Column 2021-11-08 has 0 missing values.
Column 2021-11-09 has 0 missing values.
Column 2021-11-10 has 0 missing values.
Column 2021-11-11 has 0 missing values.
Column 2021-11-12 has 0 missing values.
Column 2021-11-15 has 0 missing values.
Column 2021-11-16 has 0 missing values.
Column 2021-11-17 has 0 missing values.
Column 2021-11-18 has 0 missing values.
Column 2021-11-19 has 0 missing values.
Column 2021-11-22 has 0 missing values.
Column 2021-11-23 has 0 missing values.
Column 2021-11-24 has 0 missing values.
Column 2021-11-25 has 0 missing values.
Column 2021-11-26 has 0 missing values.
Column 2021-11-29 has 0 missing values.
Column 2021-11-30 has 0 missing values.
Column 2021-12-01 has 0 missing values.
Column 2021-12-02 has 0 missing values.
Column 2021-12-03 has 0 missing values.
Column 2021-12-06 has 0 missing values.
Column 2021-12-07 has 0 missing values.
Column 2021-12-08 has 0 missing values.
Column 2021-12-09 has 0 missing values.
Column 2021-12-10 has 0 missing values.
Column 2021-12-13 has 0 missing values.
Column 2021-12-14 has 0 missing values.
Column 2021-12-15 has 0 missing values.
Column 2021-12-16 has 0 missing values.
Column 2021-12-17 has 0 missing values.
Column 2021-12-20 has 0 missing values.
Column 2021-12-21 has 0 missing values.
Column 2021-12-22 has 0 missing values.
Column 2021-12-23 has 0 missing values.
Column 2021-12-24 has 0 missing values.
Column 2021-12-27 has 0 missing values.
Column 2021-12-28 has 0 missing values.
Column 2021-12-29 has 0 missing values.
Column 2021-12-30 has 0 missing values.
Column 2021-12-31 has 0 missing values.
Column 2022-01-03 has 0 missing values.
Column 2022-01-04 has 0 missing values.
Column 2022-01-05 has 0 missing values.
Column 2022-01-06 has 0 missing values.
Column 2022-01-07 has 0 missing values.
Column 2022-01-10 has 0 missing values.
Column 2022-01-11 has 0 missing values.
Column 2022-01-12 has 0 missing values.
Column 2022-01-13 has 0 missing values.
Column 2022-01-14 has 0 missing values.
Column 2022-01-17 has 0 missing values.
Column 2022-01-18 has 0 missing values.
Column 2022-01-19 has 0 missing values.
Column 2022-01-20 has 0 missing values.
Column 2022-01-21 has 0 missing values.
Column 2022-01-24 has 0 missing values.
Column 2022-01-25 has 0 missing values.
Column 2022-01-26 has 0 missing values.
Column 2022-01-27 has 0 missing values.
Column 2022-01-28 has 0 missing values.
Column 2022-01-31 has 0 missing values.
Column 2022-02-01 has 0 missing values.
Column 2022-02-02 has 0 missing values.
Column 2022-02-03 has 0 missing values.
Column 2022-02-04 has 0 missing values.
Column 2022-02-07 has 0 missing values.
Column 2022-02-08 has 0 missing values.
Column 2022-02-09 has 0 missing values.
Column 2022-02-10 has 0 missing values.
Column 2022-02-11 has 0 missing values.
Column 2022-02-14 has 0 missing values.
Column 2022-02-15 has 0 missing values.
Column 2022-02-16 has 0 missing values.
Column 2022-02-17 has 0 missing values.
Column 2022-02-18 has 0 missing values.
Column 2022-02-21 has 0 missing values.
Column 2022-02-22 has 0 missing values.
Column 2022-02-23 has 0 missing values.
Column 2022-02-24 has 0 missing values.
Column 2022-02-25 has 0 missing values.
Column 2022-03-01 has 0 missing values.
Column 2022-03-02 has 0 missing values.
Column 2022-03-03 has 0 missing values.
Column 2022-03-04 has 0 missing values.
Column 2022-03-07 has 0 missing values.
Column 2022-03-08 has 0 missing values.
Column 2022-03-09 has 0 missing values.
Column 2022-03-10 has 0 missing values.
Column 2022-03-11 has 0 missing values.
Column 2022-03-14 has 0 missing values.
Column 2022-03-15 has 0 missing values.
Column 2022-03-16 has 0 missing values.
Column 2022-03-17 has 0 missing values.
Column 2022-03-18 has 0 missing values.
Column 2022-03-21 has 0 missing values.
Column 2022-03-22 has 0 missing values.
Column 2022-03-23 has 0 missing values.
Column 2022-03-24 has 0 missing values.
Column 2022-03-25 has 0 missing values.
Column 2022-03-28 has 0 missing values.
Column 2022-03-29 has 0 missing values.
Column 2022-03-30 has 0 missing values.
Column 2022-03-31 has 0 missing values.
Column 2022-04-01 has 0 missing values.
Column 2022-04-04 has 0 missing values.
Column 2022-04-05 has 0 missing values.
Column 2022-04-06 has 0 missing values.
Column 2022-04-07 has 0 missing values.
Column 2022-04-08 has 0 missing values.
Column 2022-04-11 has 0 missing values.
Column 2022-04-12 has 0 missing values.
Column 2022-04-13 has 0 missing values.
Column 2022-04-14 has 0 missing values.
Column 2022-04-15 has 0 missing values.
Column 2022-04-18 has 0 missing values.
Column 2022-04-19 has 0 missing values.
Column 2022-04-20 has 0 missing values.
Column 2022-04-21 has 0 missing values.
Column 2022-04-22 has 0 missing values.
Column 2022-04-25 has 0 missing values.
Column 2022-04-26 has 0 missing values.
Column 2022-04-27 has 0 missing values.
Column 2022-04-28 has 0 missing values.
Column 2022-04-29 has 0 missing values.
Column 2022-05-02 has 0 missing values.
Column 2022-05-03 has 0 missing values.
Column 2022-05-04 has 0 missing values.
Column 2022-05-05 has 0 missing values.
Column 2022-05-06 has 0 missing values.
Column 2022-05-09 has 0 missing values.
Column 2022-05-10 has 0 missing values.
Column 2022-05-11 has 0 missing values.
Column 2022-05-12 has 0 missing values.
Column 2022-05-13 has 0 missing values.
Column 2022-05-16 has 0 missing values.
Column 2022-05-17 has 0 missing values.
Column 2022-05-18 has 0 missing values.
Column 2022-05-19 has 0 missing values.
Column 2022-05-20 has 0 missing values.
Column 2022-05-23 has 0 missing values.
Column 2022-05-24 has 0 missing values.
Column 2022-05-25 has 0 missing values.
Column 2022-05-26 has 0 missing values.
Column 2022-05-27 has 0 missing values.
Column 2022-05-30 has 0 missing values.
Column 2022-05-31 has 0 missing values.
Column 2022-06-01 has 0 missing values.
Column 2022-06-02 has 0 missing values.
Column 2022-06-03 has 0 missing values.
Column 2022-06-06 has 0 missing values.
Column 2022-06-07 has 0 missing values.
Column 2022-06-08 has 0 missing values.
Column 2022-06-09 has 0 missing values.
Column 2022-06-10 has 0 missing values.
Column 2022-06-13 has 0 missing values.
Column 2022-06-14 has 0 missing values.
Column 2022-06-15 has 0 missing values.
Column 2022-06-16 has 0 missing values.
Column 2022-06-17 has 0 missing values.
Column 2022-06-20 has 0 missing values.
Column 2022-06-21 has 0 missing values.
Column 2022-06-22 has 0 missing values.
Column 2022-06-23 has 0 missing values.
Column 2022-06-24 has 0 missing values.
Column 2022-06-27 has 0 missing values.
Column 2022-06-28 has 0 missing values.
Column 2022-06-29 has 0 missing values.
Column 2022-06-30 has 0 missing values.
Column 2022-07-01 has 0 missing values.
Column 2022-07-04 has 0 missing values.
Column 2022-07-05 has 0 missing values.
Column 2022-07-06 has 0 missing values.
Column 2022-07-07 has 0 missing values.
Column 2022-07-08 has 0 missing values.
Column 2022-07-11 has 0 missing values.
Column 2022-07-12 has 0 missing values.
Column 2022-07-13 has 0 missing values.
Column 2022-07-14 has 0 missing values.
Column 2022-07-15 has 0 missing values.
Column 2022-07-18 has 0 missing values.
Column 2022-07-19 has 0 missing values.
Column 2022-07-20 has 0 missing values.
Column 2022-07-21 has 0 missing values.
Column 2022-07-22 has 0 missing values.
Column 2022-07-25 has 0 missing values.
Column 2022-07-26 has 0 missing values.
Column 2022-07-27 has 0 missing values.
Column 2022-07-28 has 0 missing values.
Column 2022-07-29 has 0 missing values.
Column 2022-08-01 has 0 missing values.
Column 2022-08-02 has 0 missing values.
Column 2022-08-03 has 0 missing values.
Column 2022-08-04 has 0 missing values.
Column 2022-08-05 has 0 missing values.
Column 2022-08-08 has 0 missing values.
Column 2022-08-09 has 0 missing values.
Column 2022-08-10 has 0 missing values.
Column 2022-08-11 has 0 missing values.
Column 2022-08-12 has 0 missing values.
Column 2022-08-15 has 0 missing values.
Column 2022-08-16 has 0 missing values.
Column 2022-08-17 has 0 missing values.
Column 2022-08-18 has 0 missing values.
Column 2022-08-19 has 0 missing values.
Column 2022-08-22 has 0 missing values.
Column 2022-08-23 has 0 missing values.
Column 2022-08-24 has 0 missing values.
Column 2022-08-25 has 0 missing values.
Column 2022-08-26 has 0 missing values.
Column 2022-08-29 has 0 missing values.
Column 2022-08-30 has 0 missing values.
Column 2022-08-31 has 0 missing values.
Column 2022-09-01 has 0 missing values.
Column 2022-09-02 has 0 missing values.
Column 2022-09-05 has 0 missing values.
Column 2022-09-06 has 0 missing values.
Column 2022-09-07 has 0 missing values.
Column 2022-09-08 has 0 missing values.
Column 2022-09-09 has 0 missing values.
Column 2022-09-12 has 0 missing values.
Column 2022-09-13 has 0 missing values.
Column 2022-09-14 has 0 missing values.
Column 2022-09-15 has 0 missing values.
Column 2022-09-16 has 0 missing values.
Column 2022-09-19 has 0 missing values.
Column 2022-09-20 has 0 missing values.
Column 2022-09-21 has 0 missing values.
Column 2022-09-22 has 0 missing values.
Column 2022-09-23 has 0 missing values.
Column 2022-09-26 has 0 missing values.
Column 2022-09-27 has 0 missing values.
Column 2022-09-28 has 0 missing values.
Column 2022-09-29 has 0 missing values.
Column 2022-09-30 has 0 missing values.
Column 2022-10-03 has 0 missing values.
Column 2022-10-04 has 0 missing values.
Column 2022-10-05 has 0 missing values.
Column 2022-10-06 has 0 missing values.
Column 2022-10-07 has 0 missing values.
Column 2022-10-10 has 0 missing values.
Column 2022-10-11 has 0 missing values.
Column 2022-10-12 has 0 missing values.
Column 2022-10-13 has 0 missing values.
Column 2022-10-14 has 0 missing values.
Column 2022-10-17 has 0 missing values.
Column 2022-10-18 has 0 missing values.
Column 2022-10-19 has 0 missing values.
Column 2022-10-20 has 0 missing values.
Column 2022-10-21 has 0 missing values.
Column 2022-10-24 has 0 missing values.
Column 2022-10-25 has 0 missing values.
Column 2022-10-26 has 0 missing values.
Column 2022-10-27 has 0 missing values.
Column 2022-10-28 has 0 missing values.
Column 2022-10-31 has 0 missing values.
Column 2022-11-01 has 0 missing values.
Column 2022-11-02 has 0 missing values.
Column 2022-11-03 has 0 missing values.
Column 2022-11-04 has 0 missing values.
Column 2022-11-07 has 0 missing values.
Column 2022-11-08 has 0 missing values.
Column 2022-11-09 has 0 missing values.
Column 2022-11-10 has 0 missing values.
Column 2022-11-11 has 0 missing values.
Column 2022-11-14 has 0 missing values.
Column 2022-11-15 has 0 missing values.
Column 2022-11-16 has 0 missing values.
Column 2022-11-17 has 0 missing values.
Column 2022-11-18 has 0 missing values.
Column 2022-11-21 has 0 missing values.
Column 2022-11-22 has 0 missing values.
Column 2022-11-23 has 0 missing values.
Column 2022-11-24 has 0 missing values.
Column 2022-11-25 has 0 missing values.
Column 2022-11-28 has 0 missing values.
Column 2022-11-29 has 0 missing values.
Column 2022-11-30 has 0 missing values.
Column 2022-12-01 has 0 missing values.
Column 2022-12-02 has 0 missing values.
Column 2022-12-05 has 0 missing values.
Column 2022-12-06 has 0 missing values.
Column 2022-12-07 has 0 missing values.
Column 2022-12-08 has 0 missing values.
Column 2022-12-09 has 0 missing values.
Column 2022-12-12 has 0 missing values.
Column 2022-12-13 has 0 missing values.
Column 2022-12-14 has 0 missing values.
Column 2022-12-15 has 0 missing values.
Column 2022-12-16 has 0 missing values.
Column 2022-12-19 has 0 missing values.
Column 2022-12-20 has 0 missing values.
Column 2022-12-21 has 0 missing values.
Column 2022-12-22 has 0 missing values.
Column 2022-12-23 has 0 missing values.
Column 2022-12-26 has 0 missing values.
Column 2022-12-27 has 0 missing values.
Column 2022-12-28 has 0 missing values.
Column 2022-12-29 has 0 missing values.
Column 2022-12-30 has 0 missing values.
Column 2023-01-02 has 0 missing values.
Column 2023-01-03 has 0 missing values.
Column 2023-01-04 has 0 missing values.
Column 2023-01-05 has 0 missing values.
Column 2023-01-06 has 0 missing values.
Column 2023-01-09 has 0 missing values.
Column 2023-01-10 has 0 missing values.
Column 2023-01-11 has 0 missing values.
Column 2023-01-12 has 0 missing values.
Column 2023-01-13 has 0 missing values.
Column 2023-01-16 has 0 missing values.
Column 2023-01-17 has 0 missing values.
Column 2023-01-18 has 0 missing values.
Column 2023-01-19 has 0 missing values.
Column 2023-01-20 has 0 missing values.
Column 2023-01-23 has 0 missing values.
Column 2023-01-24 has 0 missing values.
Column 2023-01-25 has 0 missing values.
Column 2023-01-26 has 0 missing values.
Column 2023-01-27 has 0 missing values.
Column 2023-01-30 has 0 missing values.
Column 2023-01-31 has 0 missing values.
Column 2023-02-01 has 0 missing values.
Column 2023-02-02 has 0 missing values.
Column 2023-02-03 has 0 missing values.
Column 2023-02-06 has 0 missing values.
Column 2023-02-07 has 0 missing values.
Column 2023-02-08 has 0 missing values.
Column 2023-02-09 has 0 missing values.
Column 2023-02-10 has 0 missing values.
Column 2023-02-13 has 0 missing values.
Column 2023-02-14 has 0 missing values.
Column 2023-02-15 has 0 missing values.
Column 2023-02-16 has 0 missing values.
Column 2023-02-17 has 0 missing values.
Column 2023-02-20 has 0 missing values.
Column 2023-02-21 has 0 missing values.
Column 2023-02-22 has 0 missing values.
Column 2023-02-23 has 0 missing values.
Column 2023-02-24 has 0 missing values.
Column 2023-02-27 has 0 missing values.
Column 2023-02-28 has 0 missing values.
Column 2023-03-01 has 0 missing values.
Column 2023-03-02 has 0 missing values.
Column 2023-03-03 has 0 missing values.
Column 2023-03-06 has 0 missing values.
Column 2023-03-07 has 0 missing values.
Column 2023-03-08 has 0 missing values.
Column 2023-03-09 has 0 missing values.
Column 2023-03-10 has 0 missing values.
Column 2023-03-13 has 0 missing values.
Column 2023-03-14 has 0 missing values.
Column 2023-03-15 has 0 missing values.
Column 2023-03-16 has 0 missing values.
Column 2023-03-17 has 0 missing values.
Column 2023-03-20 has 0 missing values.
Column 2023-03-21 has 0 missing values.
Column 2023-03-22 has 0 missing values.
Column 2023-03-23 has 0 missing values.
Column 2023-03-24 has 0 missing values.
Column 2023-03-27 has 0 missing values.
Column 2023-03-28 has 0 missing values.
Column 2023-03-29 has 0 missing values.
Column 2023-03-30 has 0 missing values.
Column 2023-03-31 has 0 missing values.
Column 2023-04-03 has 0 missing values.
Column 2023-04-04 has 0 missing values.
Column 2023-04-05 has 0 missing values.
Column 2023-04-06 has 0 missing values.
Column 2023-04-07 has 0 missing values.
Column 2023-04-10 has 0 missing values.
Column 2023-04-11 has 0 missing values.
Column 2023-04-12 has 0 missing values.
Column 2023-04-13 has 0 missing values.
Column 2023-04-14 has 0 missing values.
Column 2023-04-17 has 0 missing values.
Column 2023-04-18 has 0 missing values.
Column 2023-04-19 has 0 missing values.
Column 2023-04-20 has 0 missing values.
Column 2023-04-21 has 0 missing values.
Column 2023-04-24 has 0 missing values.
Column 2023-04-25 has 0 missing values.
Column 2023-04-26 has 0 missing values.
Column 2023-04-27 has 0 missing values.
Column 2023-04-28 has 0 missing values.
Column 2023-05-01 has 0 missing values.
Column 2023-05-02 has 0 missing values.
Column 2023-05-03 has 0 missing values.
Column 2023-05-04 has 0 missing values.
Column 2023-05-05 has 0 missing values.
Column 2023-05-08 has 0 missing values.
Column 2023-05-09 has 0 missing values.
Column 2023-05-10 has 0 missing values.
Column 2023-05-11 has 0 missing values.
Column 2023-05-12 has 0 missing values.
Column 2023-05-15 has 0 missing values.
Column 2023-05-16 has 0 missing values.
Column 2023-05-17 has 0 missing values.
Column 2023-05-18 has 0 missing values.
Column 2023-05-19 has 0 missing values.
Column 2023-05-22 has 0 missing values.
Column 2023-05-23 has 0 missing values.
Column 2023-05-24 has 0 missing values.
Column 2023-05-25 has 0 missing values.
Column 2023-05-26 has 0 missing values.
Column 2023-05-29 has 0 missing values.
Column 2023-05-30 has 0 missing values.
Column 2023-05-31 has 0 missing values.
Column 2023-06-01 has 0 missing values.
Column 2023-06-02 has 0 missing values.
Column 2023-06-05 has 0 missing values.
Column 2023-06-06 has 0 missing values.
Column 2023-06-07 has 0 missing values.
Column 2023-06-08 has 0 missing values.
Column 2023-06-09 has 0 missing values.
Column 2023-06-12 has 0 missing values.
Column 2023-06-13 has 0 missing values.
Column 2023-06-14 has 0 missing values.
Column 2023-06-15 has 0 missing values.
Column 2023-06-16 has 0 missing values.
Column 2023-06-19 has 0 missing values.
Column 2023-06-20 has 0 missing values.
Column 2023-06-21 has 0 missing values.
Column 2023-06-22 has 0 missing values.
Column 2023-06-23 has 0 missing values.
Column 2023-06-26 has 0 missing values.
Column 2023-06-27 has 0 missing values.
Column 2023-06-28 has 0 missing values.
Column 2023-06-29 has 0 missing values.
Column 2023-06-30 has 0 missing values.
Column 2023-07-03 has 0 missing values.
Column 2023-07-04 has 0 missing values.
Column 2023-07-05 has 0 missing values.
Column 2023-07-06 has 0 missing values.
Column 2023-07-07 has 0 missing values.
Column 2023-07-10 has 0 missing values.
Column 2023-07-11 has 0 missing values.
Column 2023-07-12 has 0 missing values.
Column 2023-07-13 has 0 missing values.
Column 2023-07-14 has 0 missing values.
Column 2023-07-17 has 0 missing values.
Column 2023-07-18 has 0 missing values.
Column 2023-07-19 has 0 missing values.
Column 2023-07-20 has 0 missing values.
Column 2023-07-21 has 0 missing values.
Column 2023-07-24 has 0 missing values.
Column 2023-07-25 has 0 missing values.
Column 2023-07-26 has 0 missing values.
Column 2023-07-27 has 0 missing values.
Column 2023-07-28 has 0 missing values.
Column 2023-07-31 has 0 missing values.
Column 2023-08-01 has 0 missing values.
Column 2023-08-02 has 0 missing values.
Column 2023-08-03 has 0 missing values.
Column 2023-08-04 has 0 missing values.
Column 2023-08-07 has 0 missing values.
Column 2023-08-08 has 0 missing values.
Column 2023-08-09 has 0 missing values.
Column 2023-08-10 has 0 missing values.
Column 2023-08-11 has 0 missing values.
Column 2023-08-14 has 0 missing values.
Column 2023-08-15 has 0 missing values.
Column 2023-08-16 has 0 missing values.
Column 2023-08-17 has 0 missing values.
Column 2023-08-18 has 0 missing values.
Column 2023-08-21 has 0 missing values.
Column 2023-08-22 has 0 missing values.
Column 2023-08-23 has 0 missing values.
Column 2023-08-24 has 0 missing values.
Column 2023-08-25 has 0 missing values.
Column 2023-08-28 has 0 missing values.
Column 2023-08-29 has 0 missing values.
Column 2023-08-30 has 0 missing values.
Column 2023-08-31 has 0 missing values.
Column 2023-09-01 has 0 missing values.
Column 2023-09-04 has 0 missing values.
Column 2023-09-05 has 0 missing values.
Column 2023-09-06 has 0 missing values.
Column 2023-09-07 has 0 missing values.
Column 2023-09-08 has 0 missing values.
Column 2023-09-11 has 0 missing values.
Column 2023-09-12 has 0 missing values.
Column 2023-09-13 has 0 missing values.
Column 2023-09-14 has 0 missing values.
Column 2023-09-15 has 0 missing values.
Column 2023-09-18 has 0 missing values.

,No,Komoditas (Rp),2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29,...,2024-04-11,2024-04-12,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-22,2024-04-23,2024-04-24
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

In [7]:
# Delete column if the entire column is nan
data = data.dropna(axis=1, how='all')

# Check the data
data.head()

,No,Komoditas (Rp),2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29,...,2024-04-11,2024-04-12,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-22,2024-04-23,2024-04-24
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

In [8]:
# Convert price columns to float start from column 2 and row 2
price_columns = data.columns[2:]

for col in price_columns:
    data[col] = data[col].str.replace(',', '').astype(float)
    
# Check the data
data.head()

,No,Komoditas (Rp),2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29,...,2024-04-11,2024-04-12,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-22,2024-04-23,2024-04-24
0,I,Beras,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,...,15700.0,15700.0,15700.0,15750.0,15750.0,15700.0,15700.0,15700.0,15700.0,15750.0
1,1,Beras Kualitas Bawah I,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,...,14350.0,14350.0,14350.0,14400.0,14350.0,14350.0,14350.0,14350.0,14350.0,14100.0
2,2,Beras Kualitas Bawah II,11900.0,11900.0,11900.0,11900.0,11950.0,11950.0,11950.0,11950.0,...,14050.0,14050.0,14050.0,14100.0,14000.0,13900.0,13900.0,13900.0,13900.0,13350.0
3,3,Beras Kualitas Medium I,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,...,16100.0,16100.0,16100.0,16150.0,16100.0,16100.0,16100.0,16100.0,16100.0,15900.0
4,4,Beras Kualitas Medium II,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,...,15200.0,15200.0,15200.0,15300.0,15250.0,15200.0,15200.0,15200.0,15200.0,15150.0

In [14]:
data.head()

,No,Komoditas (Rp),2021-10-20,2021-10-21,2021-10-22,2021-10-25,2021-10-26,2021-10-27,2021-10-28,2021-10-29,...,2024-04-11,2024-04-12,2024-04-15,2024-04-16,2024-04-17,2024-04-18,2024-04-19,2024-04-22,2024-04-23,2024-04-24
0,I,Beras,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,13450.0,...,15700.0,15700.0,15700.0,15750.0,15750.0,15700.0,15700.0,15700.0,15700.0,15750.0
1,1,Beras Kualitas Bawah I,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,12050.0,...,14350.0,14350.0,14350.0,14400.0,14350.0,14350.0,14350.0,14350.0,14350.0,14100.0
2,2,Beras Kualitas Bawah II,11900.0,11900.0,11900.0,11900.0,11950.0,11950.0,11950.0,11950.0,...,14050.0,14050.0,14050.0,14100.0,14000.0,13900.0,13900.0,13900.0,13900.0,13350.0
3,3,Beras Kualitas Medium I,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,13400.0,...,16100.0,16100.0,16100.0,16150.0,16100.0,16100.0,16100.0,16100.0,16100.0,15900.0
4,4,Beras Kualitas Medium II,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,13050.0,...,15200.0,15200.0,15200.0,15300.0,15250.0,15200.0,15200.0,15200.0,15200.0,15150.0

In [9]:
# Save the data
data.to_csv('harga_cleaned.csv', index=False)
data.to_excel('harga_cleaned.xlsx', index=False)

PermissionError: [Errno 13] Permission denied: 'harga_cleaned.xlsx'