In [2]:
# Cleaning Pricing Data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data xlsx
data = pd.read_excel('harga.xlsx')

# Check the data
data.head()

,No,Komoditas (Rp),20/ 10/ 2021,21/ 10/ 2021,22/ 10/ 2021,25/ 10/ 2021,26/ 10/ 2021,27/ 10/ 2021,28/ 10/ 2021,29/ 10/ 2021,...,11/ 04/ 2024,12/ 04/ 2024,15/ 04/ 2024,16/ 04/ 2024,17/ 04/ 2024,18/ 04/ 2024,19/ 04/ 2024,22/ 04/ 2024,23/ 04/ 2024,24/ 04/ 2024
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

In [3]:
# Check the data type
data.dtypes

No                object
Komoditas (Rp)    object
20/ 10/ 2021      object
21/ 10/ 2021      object
22/ 10/ 2021      object
                   ...
18/ 04/ 2024      object
19/ 04/ 2024      object
22/ 04/ 2024      object
23/ 04/ 2024      object
24/ 04/ 2024      object
Length: 658, dtype: object

In [11]:
# Check missing values and drop it
data.isnull().sum()

# Drop missing values
data = data.dropna()

# Check the data
data.isnull().sum()

# Check the data
data.head()

,No,Komoditas (Rp),20/ 10/ 2021,21/ 10/ 2021,22/ 10/ 2021,25/ 10/ 2021,26/ 10/ 2021,27/ 10/ 2021,28/ 10/ 2021,29/ 10/ 2021,...,11/ 04/ 2024,12/ 04/ 2024,15/ 04/ 2024,16/ 04/ 2024,17/ 04/ 2024,18/ 04/ 2024,19/ 04/ 2024,22/ 04/ 2024,23/ 04/ 2024,24/ 04/ 2024
0,I,Beras,"13,450","13,450","13,450","13,450","13,450","13,450","13,450","13,450",...,"15,700","15,700","15,700","15,750","15,750","15,700","15,700","15,700","15,700","15,750"
1,1,Beras Kualitas Bawah I,"12,050","12,050","12,050","12,050","12,050","12,050","12,050","12,050",...,"14,350","14,350","14,350","14,400","14,350","14,350","14,350","14,350","14,350","14,100"
2,2,Beras Kualitas Bawah II,"11,900","11,900","11,900","11,900","11,950","11,950","11,950","11,950",...,"14,050","14,050","14,050","14,100","14,000","13,900","13,900","13,900","13,900","13,350"
3,3,Beras Kualitas Medium I,"13,400","13,400","13,400","13,400","13,400","13,400","13,400","13,400",...,"16,100","16,100","16,100","16,150","16,100","16,100","16,100","16,100","16,100","15,900"
4,4,Beras Kualitas Medium II,"13,050","13,050","13,050","13,050","13,050","13,050","13,050","13,050",...,"15,200","15,200","15,200","15,300","15,250","15,200","15,200","15,200","15,200","15,150"

KeyError: 'harga'

In [23]:
# Save the cleaned data to csv and json
data.to_csv('harga_cleaned.csv', index=False)
data.to_json('harga_cleaned.json', orient='records')